{% extends 'govapp/gov_home.html'%}


{% block status_msg %}
{% if messages %}
        <div class="box-content alerts">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">x</button>
                {% for message in messages %}
               <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
               {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock status_msg %}

{% block breadcrumb %}
<a href="/gov/add-head/">Add Head</a>
{% endblock breadcrumb %}

{% block extra %}
{% endblock extra %}

{% block box1_title %}
<h2><i class="icon-plus"></i> Add a Department Head</h2>
{% endblock box1_title %}


{% block content %}

<form method="POST" action="/gov/add-head/"> {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Add Official">
</form>


{% endblock content %}

{% block hotissues %}
    {% for issue in hot_issues %}
        <p><a href="/customer/issue/{{ issue.id }}">{{ issue.issue_title }}  | {{ issue.issue_vote }} votes</a></p>
    
    {% endfor %}
{% endblock hotissues %}