{% extends 'index_cust.html' %}

{% block breadcrumb %}
<a href="#">My Suggestions</a>
{% endblock breadcrumb %}

{% block status_msg %}
{% if messages %}
		<div class="box-content alerts">
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">x</button>
				{% for message in messages %}
    			<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    			{% endfor %}
			</div>
		</div>
{% endif %}
{% endblock status_msg %}



{% block box1_title %}
<h2><span class="icon icon-darkgray icon-lightbulb"></span>My Ideas</h2>
{% endblock box1_title %}

{% block box2_title %}
<h2><span class="icon icon-darkgray icon-lightbulb"></span>Top Ideas</h2>
{% endblock box2_title %}

{% block content %}
{% for suggestion in mysuggestions %}
	<div class="row-fluid">
		<div class="span12">
			<div class="tooltip-demo well">
			<p>Title : <strong>{{ suggestion.suggestion_title }}</strong></p>
			<p>Posted on: {{ suggestion.suggestion_date }}</p>
			<p> Description : {{ suggestion.suggestion_description }}</p>
			<div class="fb-like" data-href="/customer/suggestions/{{suggestion.id}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock content %}


{% block hotissues %}
	{% for suggestion in top_ideas %}
		<p><a href="/customer/idea/{{ suggestion.id }}">{{ suggestion.suggestion_title }}  | {{ suggestion.suggestion_vote }} votes</a></p>
	{% endfor %}
{% endblock hotissues %}


{% block suggestions %}
<div class="box span3">
					<div class="box-header well" data-original-title>
						<h2><span class="icon icon-color icon-lightbulb"></span> Accepted Ideas</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
						</div>
					</div>
					<div class="box-content">
					</div>
				</div><!--/span-->
{% endblock suggestions %}





