{% extends "index_cust.html" %}
{% load i18n %}



{% block breadcrumb %}
<a href="#">Change your password</a>
{% endblock breadcrumb %}

{% block status_msg %}

{% endblock status_msg %}


{% block box1_title %}
<h2><i class="icon-wrench"></i>Password changed</h2>
{% endblock box1_title %}


{% block content %}
<p>
		<div class="box-content alerts">
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">x</button>
				<p> Your password is changed.</p>
			</div>
		</div>
</p>
{% endblock %}

{% block box2_title %}
<h2><i class="icon-fire"></i>Hot Issues</h2>
{% endblock box2_title %}
